<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.modules.user.mapper.UserMapper">

    <resultMap type="com.zc.modules.user.entity.UserEntity" id="userResultMap">
        <id property="id" column="id"></id>
		<result property="userName" column="user_name"/>
		<result property="password" column="password"/>
		<result property="name" column="name"/>
		<result property="phone" column="phone"/>
		<result property="status" column="status"/>
		<result property="headSculpture" column="head_sculpture"/>
        <result property="orderId" column="order_id"/>
        <result property="openId" column="open_id"/>
	</resultMap>

    <select id="getPassword" parameterType="String" resultMap="userResultMap" >
        SELECT id,user_name,password,name,phone,status,head_sculpture,order_id,open_id
        FROM user
        WHERE user_name = #{userName}
    </select>

    <update id="updatePassword" >
        UPDATE user SET password = #{password} WHERE id = #{id}
    </update>


</mapper>
